.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


label {
  font-size: 15px;
  color: #2E8DCD;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  padding-top: 3px;
}


.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  letter-spacing: 0.05rem;
  background-color: #2E8DCD;
  color:white;
  border-radius: 5px;
  border: 2px solid #2E8DCD;
}

.btn:hover { 
  /* outline: 2px dotted #55d7dc;  */
  border: 2px solid #2E8DCD;
  background-color: transparent;
  color:black
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #04AA6D; */
}

li {
  float: left;
}

li a{
  display: block;
  color: #046FAA;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

li label{
  display: block;
  color: #046FAA;
  text-align: center;
  padding: 27px 20px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

li span {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #046FAA;
  color:white;
}
li label:hover:not(.active) {
  background-color: #046FAA;
  color:white;
}
/* 
.active {
  background-color: #04AA6D;
} */

.navigation_bar{
  -webkit-box-shadow: 0 3px 5px -6px #222222;
  -moz-box-shadow: 0 3px 5px -6px #222222;
       box-shadow: 0 3px 5px -6px #222222;
} 